/* Commmon Styles */
body{
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
   
}

/* Navigation Styles */

.navigation{
    /* background-color: lightgrey; */
    height: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}
.nav-right a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    margin-right: 10px;
}
.nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left h2{
    font-size: 24px;
    font-weight: 400;
    color: #3A3A3A;
}

/* Section-1 Styles */

.article1{
    display: grid;
    grid-template-columns: 500px 400px;
    justify-content: center;
    grid-column-gap: 35px;
}
.title-a1{
    color: #3A3A3A;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0px;
    line-height: 65px;
}
.info-a1 {
    font-size: 16px;
    margin-top: 12px;
}
.button-a1{
    margin-top: 26px;
    width: 130px;
    background-color: #E02C6D;
    padding: 7px 10px 7px 15px;
    border-radius: 41px;
    color: #ffffff;
    font-size: 14px;
    transition: transform .4s ease-in-out;
}
.button-a1:hover{
    transform: scale(1.06);
}
.fa-arrow-right{
    margin-left: 8px;
}
.right-a1 img{
    width: 430px;
    height: 390px;
}


/* Section-2 (Products Styles) Styles */

.product-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    margin-bottom: 30px;
    font-size: 28px;
    color: #3A3A3A;
    font-weight: 600;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 35px;
}
.product{
    width: 329px;
    height: 460px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.24)
}
.product-img{
    width: 300px;
    height: 256px;
    padding-left: 15px;
    padding-top: 15px;
  }
.product-title{
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    margin-bottom: 0px;
    margin-top: 9px;
    padding-left: 15px;
}
.product-info{
    padding-left: 15px;
}
.couese-ratting{
    margin-bottom: 0px;
    margin-top: 5px;
}
.fa-star.filled{
    font-size: 11px;
    color: orange;
}
.fa-star.empty{
    font-size: 11px;
    color: rgb(85, 84, 81);
}
.ratting-in-number{
    font-size: 12px;
    color: #5E6366;
    font-weight: 600;
}
.product-sub-info{
    color: #787885;
    font-size: 12px;
    line-height: 15px;
    margin-top: 0px;
}
.see-more-button-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.see-more-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #E02C6D;
    width: 76%;
    margin-top: 40px;
}

/* Big Menu Styles */

.menu-section{
    margin-top: 100px;
}
.big-menu{
    height: 200px;
    background-color: rgb(29, 14, 43);
    display: flex;
    justify-content: center;
}
.menu{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.menu-left h1{
    color: white;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-right: 130px;
}
.menu-heading{
    color: rgb(185, 0, 185);
    font-weight: 400;
    margin-bottom: 0px;
    margin-left: 18px;
    margin-top: 10px;
}
.menu-items{
    color: whitesmoke;
    line-height: 25px;
    margin-top: 5px;
}

/* Footer Styles */

.footer{
    margin-top: 15px;
    margin-bottom: 10px;
}
.footer h2{
    margin-bottom: 0px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: rgb(139, 139, 139);
}
.footer p{
    text-align: center;
    color: rgb(139, 139, 139);
    margin-top: 0px;
}

@media (max-width:1030px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 70px;}
        .article1 {
            grid-template-columns: 400px 350px;
            grid-column-gap: 0px;
        }
        .nav {
            width: 78%;
        }
        .menu {
            grid-template-columns: 350px 200px 150px;
        }
        .big-menu{
            height: fit-content;
        }
        .menu-left h1 {
            font-size: 35px;
        }
}
@media (max-width:910px) {
    .article1 {
        grid-template-columns: 350px 300px;
        grid-column-gap: 0px;
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px;}
        .right-a1 img{
            width: 370px;
        }
}
@media (max-width:830px){
    .article1 {
        grid-template-columns: repeat(1, 500px);
        grid-column-gap: 35px;
    }
    .right-a1 img{
        width: 500px;
    }
}
@media (max-width:725px){
    .nav{
        width: 85%;
    }
    .nav-right a{
        margin-right: 5px;
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 8px;
    }
}
@media (max-width:698px){
    .nav{
        width: 90%;
    }
    .menu-left h1 {
        font-size: 30px;
        margin-right:0px;
    }
    .products {
        grid-template-columns: repeat(1, 1.5fr);
        grid-row-gap: 35px;
    }
    .product-section{
        margin-top: 40px;
    }
    .menu {
        grid-template-columns: repeat(1, 1fr);
    }
    .menu-last-2-item{
        display: flex;
    }
}
@media (max-width:698px){
    .nav-right{
        display: none;
    }
    .navigation{
        margin-bottom: 0px;
        margin-top: 10px;
    }
}
@media (max-width:698px){
    .title-a1{
        font-size: 37px;
        text-align: center;
    }
    .info-a1{
        text-align: center;
    }
    .left-a1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right-a1 img{
        width: 400px;
        height: 340px;
    }
    .right-a1{
        display: flex;
        justify-content: center;
    }
    .nav{
        width: 80%;
    }
    .footer h2{
        
    }
}